// Variables 



// Couleurs
// Primary
$new-primary: #1DD3B0;
$primary: $new-primary;

// Secondary
$new-secondary: #AFFC41;
$secondary: $new-secondary;

// Secondary Hover 
$secondary-hover: #dff8bc;


// Typography
$headline: "Lora", serif;
$text-content: "Poppins", sans-serif;